*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --fondo-principal:#f4f2ee;
  --border--bottom:#000;
  --hover-perfil:#222222;
  --color-letra: #5f5f5f;
  --background-search:#edf3f8;
  --bolitaverde:#41db51;
  --borderbolita:#ffffff;
  --fondo-blancos:#fff;
  --color_subtitulo:#777;
  --profile-numeros:#7297c7;
  --border-boton:#ccc;
  --interaccion-icon:#2874b1;
  --fondo-interaccion:#a1c4e1;
  --fondo-header:#fff;
  --fondo-botonmain:#a3a3a383;
  --texto-publicaciones:#333; 
}
.contenido{
  background-color:var(--fondo-principal) ;
  display: flex;
  flex-direction: column;
}
.content__grid{
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  height: 100vh;
  grid-template-areas:
  'sidebar-rigth content__main sidebar-left';   
  gap:1rem; 
  padding: 0 60px;
  margin: 0 50px;
   padding-top: calc(52px + 20px);
}

.content__main{
  grid-area:content__main;
  background-color:var(--fondo-blancos);

}
.sidebar-rigth{
  grid-area:sidebar-rigth;
background-color: var(--fondo-blancos);
  margin-left:10px;
  height: 55%;
}
.sidebar-left{
  grid-area:sidebar-left;
  background-color: black;
}


/*header*/
.header{
  display: flex;
  justify-content: space-between;
  height: 55px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 8px var(--border--bottom);
  padding: 0 20px;
  position: fixed;
  top:0;
  width: 100%;
  background-color:var(--fondo-header) ;
}
.navegacion{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left:150px;
  width: 150px;
  gap: 10px;

}
.navegacion__imagen{
 width: 35px;
 height: 35px;
 border-radius: 5px;
 margin:15px;
 cursor: pointer;
}

.navegacion__search{
  display: flex;
  align-items: center;
  background-color:var(--background-search);
  align-items: center;
  gap:5px;
  justify-content: center;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  flex: 0 1 250px;

}

.navegacion__input{
 background-color:var(--background-search);
 border: 0;
 height: 30px;
 position: relative;
 outline: none;
 width: 250px;
 border-radius: 5px;
}

/* Navegacion Perfil */

.navegacion__perfil{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:30px;
  position: relative;
  right: 70px;
}
.navegacion__lista{
  display: flex;
  flex-direction: row;
  gap:30px;
}
.navegacion__icono{
font-size: 25px;
color:var(--color-letra);
}
.navegacion__link{
  color:var(--color-letra);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navegacion__item{
  padding: 5px;
  list-style: none;
  height: 55px;
  width: 60px;

}
.navegacion__item--border:hover{
  border-bottom:2px solid var(--border--bottom);
}  
.navegacion__item--border:hover .navegacion__icono--border{
  color:var(--border--bottom);
}  
.navegacion__items{
  padding: 5px;
  list-style: none;
  height: 55px;
  width: 60px;
  border-bottom:2px solid var(--border--bottom);

}
.navegacion__text{
  font-size:15px ;
}
.navegacion__imgperfil{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: relative;
}
.punto-verde{
  width: 13px;
  height: 13px;
  border-radius: 100px;
  background-color: var(--bolitaverde);
  position: absolute;
  top: 6px;
  right: 1px;
  border: 2px solid var(--borderbolita);
}

/* sidebar--rigth */


.profile__img{
width: 100%;
height: 40%;
}

.profile__perfil{
width: 80px;
height: 80px;
border-radius: 100px;
margin-top:-30px;
border:4px solid var(--background-search);
margin-left:25px;
}
.sidebar__info{
  width: 100%;
  margin-top:-10px;
}
.profile__text{
  padding-left: 25px;
}
.profile__subtitulo{
  color:var(--color_subtitulo);
  margin:3px;
}
.profile__list{
display: flex;
align-items: center;
justify-content: space-between;
margin:20px 25px;
color:var(--color_subtitulo);

}
.lista__numero{
  display: flex;
  flex-direction: column;
  color:var(--profile-numeros);
}
.text__items{
margin: 5px 0;
font-size: 13px;
}

.boton{
    display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  font-size: 13px;
}
.boton__list{
 display: flex;
 align-items: center;
 text-decoration: none;
 justify-content: center;
 margin:10px 0px;
 padding: 0 10px;
 color:var(--color-letra);

}
.logo__text{
  width: 20px;
  margin-right:10px ;
}
.boton__text{
  border-right: 1px solid var(--border-boton);
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
}
.espacio__botones{
  background-color: var(--fondo-principal);
  height: 15px;
  border: none;
}
/* SIDEBAR INTERACTIVO */

.sidebar__title{
  color:var(--color_subtitulo);
  padding-left:25px;
  font-size: 13px;
  margin:7px 5px;
}
.sidebar__interaccion{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.interaccion__botones--color_gris:hover{
  background-color:var(--fondo-interaccion) ;
    transition: 1.5s;

}
.sidebar__interaccion .interaccion__botones .interaccion__icon{
  color:var(--interaccion-icon);
  padding: 3px;
  font-weight: 900;
}
   
.interaccion__botones{
  text-decoration: none;
  padding-left:25px;
  color: var(--color-letra);
  align-items: center;
  padding: 4px 25px;  display: flex;
  gap:5px;
}
.interlineado{
  height: 1px;
  background-color: var(--fondo-principal);
}
.sidebar__bottom{
  color:var(--interaccion-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 40px;
}

/* CONTENIDO MENU */
.caja{
    padding: 20px 25px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 25px 5px;

}
.caja__img{
  width: 35px;
  border-radius: 55%;
  margin:10px;
}
.caja__text{
  width: 80%;
  height: 20%;    
  width: 100%; 
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 8px;
  resize: vertical;
  overflow: auto;
}
.caja__botones{
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}
.caja__icons{
  color: var(--interaccion-icon);
  font-size: 17px;
}
.botones__items{
  border-top:1px solid var(--color_subtitulo);
  border-right:1px solid var(--color_subtitulo) ;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.botones__item{
  border-top:1px solid var(--color_subtitulo);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--interaccion-icon);
  cursor: pointer;
}
.caja__spa{
  color:var(--fondo-principal);
  font-size: 16px;
}
.caja__span{
  color: var(--color_subtitulo);
  font-size: 16px;
}
.botones__items--fondo-gris:hover{
 background-color: var(--fondo-botonmain);
}
.interlineado__text{
  display: flex;
  align-items: center;
  height: 35px;
  background-color:var(--fondo-principal);
  color:var(--color_subtitulo);

}
.espacio__boton{
  flex: 1;
  border: 0;
  height: 1px;
  background-color:var(--fondo-botonmain);

}
.text__principal{
    font-size: 13px;
    padding-left: 5px;
}
.text__segundaria{
  font-weight: 600;
  cursor: pointer;
}
.img__segundaria{
  width: 12px;
  margin-left: 3px;
}
.publicaciones{
  padding: 20px 20px 5px ;
}
.publicacion__info{
    display: flex;
    align-items: center;

}

.publicaciones__img{
    width: 35px;
    border-radius: 100%;
    margin-right: 15px;
    margin-top: 5px;
}
.publicacion__title{
    font-size: 18px;
    font-weight: 600;
    color: var(--texto-publicaciones);
}
.publicacion__subtitulo{
  display: block;
  margin-top: -2px;
  margin:2px;
  color: var(--color_subtitulo);
}
.publicacion__enunciado{
  color: var(--color_subtitulo);
  line-height:1.5;
  font-size: 15px;
  padding: 5px 25px 0px;

}
.img__publicacion{
  width: 100%;
  padding: 5px 25px 0px;

}
.reacciones{
 padding: 5px 25px 0px;
 display: flex;
 justify-content: space-between;
}
.reacciones__icon{
 width: 15px;
}
.reacciones__items{
display: flex;
gap:6px;
font-size: 16px;
color: var(--color_subtitulo);
}
.reacciones__coments{
  display: flex;
  color: var(--color_subtitulo);
}
.comentarios{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comentarios__profile{
 padding: 5px 25px 0px;
}
.linea__comentarios{
  height: 1px;
  width: 100% ;
  background-color: var(--fondo-botonmain);
  border: none;
  margin-top: 10px;
}
.img__comentarios{
  width: 30px;
  margin-top: 10px;
  border-radius: 100%;
}
.img__flecha{
  width: 15px;
}
.comentarios__interaccion{
  display: flex;
  align-items: center;
  margin-left:45px;
  color: var(--color_subtitulo);
}
.reaccion__like{
  width: 22px;
}
.interlineado__publicaciones{
background-color: var(--fondo-principal);
height: 20px;
border: none;
}